.modal-container {
  position: absolute;
  z-index: 4000;
  height: 100vh;
  width: 100vw;
  margin-top: 4vh;
}

.modal-bucket {
  z-index: 2050;
}

.modal .modal-backdrop {
  position: absolute;
}

.btn-spacer{
  margin-right: 3%;
}

.ul-style{
  list-style-type: none;
}

.carousel-header-styling{
  margin-top: -110vh;
  font-size: 3em;
}

.carousel-picture-text-header{
  margin-top: -60vh;
}

.carousel-text-description{
  font-size: 1.5em;
}

.nav-position{
  position: fixed;
  z-index: 5000;
  padding-top: 1vh;
}

.nav-form-text{
  color: #fff;
  margin-right: 5px;
}

.nav-bar-text{
  font-size: 1.5em;
}

#services{
  background-color: #ded7d1;
  margin-top: -2.5vh;
  padding-bottom: 10vh;
  padding-top: 8vh;

}
