.modal-container {
  position: absolute;
  z-index: 4000;
  height: 100vh;
  width: 100vw;
  margin-top: 4vh;
}

.modal-bucket {
  z-index: 2050;
  margin-top: 10vh;
}

.modal .modal-backdrop {
  position: absolute;
}

.nav-main {
  background-color: #ACB0BC;
  width: 100%;
}

.btn-spacer{
  margin-right: 3%;
}

.ul-style{
  list-style-type: none;
}

.carousel-header-styling{
  margin-top: -105vh;
  font-size: 3em;
}

.carousel-picture-text-header{
  margin-top: -60vh;
}

.carousel-text-description{
  font-size: 1.5em;
}

.nav-position{
  position: fixed;
  z-index: 5000;
  padding-top: 1vh;
}

.nav-form-text{
  color: #fff;
  margin-right: 1px;
  margin-top: 2vh;
}

.nav-bar-text{
  font-size: 1.5em;
}

#services{
  background-color: #ded7d1;
  margin-top: -2.5vh;
  padding-bottom: 10vh;
  padding-top: 8vh;
}

.reviews-background{
  background-color: #98aeab;
  padding-top: 30vh;
  padding-bottom: 25vh;
}
.user-reviews-header{
  margin-top: -10%;
}
.user-review-slogan{
  margin-top: -5%;
}
.UpdatedText {
  color: red;
}

.googleMap{
  height: 60vh;
  width: 100vw;
}

.bottom-section-color{
  background-color: #a8adaf;
}

.location-style{
  background-color: #dbbab3;
  padding-top: .5vh;
  padding-bottom: 1vh;
  font-size: 1.7em;
}

.contact-style{
  background-color: #dbbab3;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1.7em;
}

.footer-background{
  background-color: #dbbab3;
  padding-bottom: 10vh;
}

.menuTable {
  background-color: #DED7D1;
  margin-bottom: -5px;
}

.menu-heading {
  background-color: #DED7D1;
  margin: -5px 0 -5px 0;
}

.menu-container {
  background-color: #DED7D1;
}
