.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.btn-spacer{
  margin-right: 3%;
}

.ul-style{
  list-style-type: none;
}

.carousel-header-styling{
  margin-top: -110vh;
}

.carousel-picture-text-header{
  margin-top: -60vh;
}
